@using UmbracoTenDemoSite.Core.Features.Shared.Constants
@using UmbracoTenDemoSite.Core.Features.Shared.Components.ContactForm
@model UmbracoTenDemoSite.Core.Features.Shared.Components.ContactForm.ContactFormViewModel
@{
    var responseMessage = TempData[TempDataKey.ResponseMessage] as string;
}
@if (Model != null)
{
    <section class="section">
        <div class="container">
            <div class="col-md-12">
                @if (string.IsNullOrEmpty(responseMessage))
                {
                    if (!string.IsNullOrEmpty(Model.Heading))
                    {
                        <h2>@Model.Heading</h2>
                    }
                    using (Html.BeginUmbracoForm<ContactFormController>(nameof(ContactFormController.Submit)))
                    {
                        <div>
                            @Html.LabelFor(x => Model.Name)<br/>
                            @Html.EditorFor(x => Model.Name)
                        </div>
                        <div>
                            @Html.LabelFor(x => Model.Email)<br />
                            @Html.EditorFor(x => Model.Email)
                        </div>
                        <div>
                            @Html.LabelFor(x => Model.Comment)<br />
                            @Html.TextAreaFor(x => Model.Comment)
                        </div>
                        <input type="submit" />
                    }
                }
                else
                {
                    @Html.Raw(responseMessage)
                }
            </div>
        </div>
    </section>
}