@model UmbracoNineDemoSite.Core.Features.Home.HomeViewModel
@{
    Layout = "Master.cshtml";
}
@if (Model != null)
{
    @(await Component.InvokeAsync("Hero", new {
        heading = Model.Heading,
        preamble = Model.Preamble,
        backgroundImageUrl = Model.BackgroundImage,
        callToActionUrl = Model.CallToActionUrl,
        callToActionLabel = Model.CallToActionLabel
    }))

    @*<section class="section section--themed">

            <div class="container">
                <div class="row">

                    <div class="ta-center">
                        <h2>@Model.FooterHeader</h2>
                        <p class="section__description mw-640 ma-h-auto">@Model.FooterDescription</p>

                        <a class="button button--border--light_solid" href="@Model.FooterCtalink.Url">
                            @Model.FooterCtacaption
                        </a>

                    </div>

                </div>
            </div>

        </section>*@
}