@model UmbracoNineDemoSite.Core.Features.Shared.Content.SitePageBase
@{
    Layout = null;
    var jsUrls = await SmidgeHelper.GenerateJsUrlsAsync("js-bundle");
}
<!DOCTYPE html>
<html>
<head>
    <title>@(Model.PageTitle) - @(Model.SiteName)</title>
    @(await Html.PartialAsync("_MetaTags"))
    @(await Html.PartialAsync("_Stylesheets"))
    @(RenderSection("Head", required: false))
    
    @{
    }

    @foreach (var jsUrl in jsUrls)
    {
        <link rel="preload" href="@jsUrl" as="script">
    }
</head>
<body class="@(Model.BodyClass)">
    @(await Html.PartialAsync("_MaintenanceBanner"))
    @(await Html.PartialAsync("_MobileNavigation"))
    @(await Component.InvokeAsync("Header", new { selected = Model.Id }))
    <main>
        @RenderBody()
    </main>
    @(RenderSection("Footer", required: false))
    @(await Component.InvokeAsync("Footer"))
    @(await Html.PartialAsync("_Javascripts"))
</body>
</html>